<section id="agenda" class="two">
    <div class="container">

        <h2>Workshop agenda</h2>

        The workshop will take place online and is structured in 6 topical sessions, chaired by two members of the community and a panel of experts in the field. 

        In the link below you can download the latest version of the agenda of the workshop.

        <footer>
            <a href="assets/docs/agenda-2021-11-15.pdf" target="_blank" class="button"><span class="icon fa-download inlineicon"></span> Agenda (last updated 2021-11-15) </a>
        </footer>
        
    </div>
</section>
