<section id="agenda" class="two">
    <div class="container">

        <h2>Workshop agenda</h2>

        The workshop will take place online and is structured in 6 topical sessions, chaired by two members of the community and a panel of experts in the field. 

 
        In the link below you can download the latest version of the agenda of the workshop.

        <footer>
            <a href="assets/docs/agenda-2021-11-15.pdf" target="_blank" class="button"><span class="icon fa-download inlineicon"></span> Agenda (last updated 2021-11-15) </a>
        </footer>

        <h2>Registration</h2>

        Registration to the workshop is free of charge. Instructions and links to follow the online sessions will be emailed to all attendees one week before the workshop.
        To register, please fill in the following form:

        <footer>
            <a href="https://forms.gle/7kSt9tMzvjAcXGNb7" target="_blank" class="button"><span class="icon fa-edit inlineicon"></span> Registration form </a>
        </footer>
        
    </div>
</section>
