<section id="contact" class="last dark cover">
    <div class="container">

        <header>
            <h2>Contact</h2>
        </header>

        <div class="row">
            <div class="7u 12u$(mobile)">
                <dl class="70%">
                    <dt><span class="icon fa-map-signs inlineicon"></span></dt>
                    <dd>
                        Equipo de Propulsión Espacial y Plasmas<br />
                        Universidad Carlos III de Madrid<br />
                        Avda. de la Universidad 30<br />
                        28911 Leganés (Madrid) Spain<br />
                        Office: 7.1.H.14.
                        <a href="https://www.google.com/maps/place/Juan+Benet+Building/@40.3336252,-3.7673446,17z/data=!4m7!1m4!3m3!1s0xd41898b6414e047:0x8f09ae494530ed2d!2sJuan+Benet+Building!3b1!3m1!1s0xd41898b6414e047:0x8f09ae494530ed2d" target="_blank">View map <span class="icon fa-map-marker"></span></a>
                    </dd>
                    <dt><span class="icon fa-phone inlineicon inlineicon"></span></dt>
                    <dd>
                        <a href="tel:+34916248237" target="_blank">+34 91 624 8237</a>
                    </dd>
                    <dt><span class="icon fa-envelope inlineicon"></span></dt>
                    <dd>
                        <a href="mailto:ep2@uc3m.es" target="_blank">ep2@uc3m.es</a>
                    </dd>
                </dl>
            </div>

        </div>

    </div>
</section>