<section id="discussion" class="three">
    <div class="container">

        <header>
            <h2>Discussion</h2>
        </header>

        <p>To make the workshop as effective as possible, all attendees are encouraged to exchange ideas and ask questions, comments, etc on the workshop sessions already <emph>before</emph> the event. This discussion is taking place at the following forum:</p>

        <footer>
            <a href="https://github.com/ep2lab/ExB_workshop_2022_website/discussions" target="_blank" class="button"><span class="icon fa-github inlineicon"></span> &nbsp; Discussion forum </a>
        </footer>

        The discussion is structured around the different workshop sessions, and all contributions are welcome. You can also use this platform to ask questions about the workshop itself. Please note that the forum has public read access; to participate in the discussion, you will need a <a href="https://github.com/signup" target="_blank">free GitHub account</a>.

    </div>
</section>