<section id="discussion" class="five">
    <div class="container">

        <header>
            <h2>Discussion</h2>
        </header>

        <p>The Workshop discussion forum will remain active and accept new threads and replies:</p>

        <footer>
            <a href="https://github.com/ep2lab/ExB_workshop_2022_website/discussions" target="_blank" class="button"><span class="icon fa-github inlineicon"></span> &nbsp; Discussion forum </a>
        </footer>

        <p></p>The discussion is structured around the different workshop sessions, and all contributions are welcome. You can also use this platform to ask general questions, showcase your recent publications related to the workshop topics, and make other relevant announcements (e.g. open positions). Please note that the forum has public read access; to participate in the discussion, you will need a <a href="https://github.com/signup" target="_blank">free GitHub account</a>. To receive updates if someone answers on your posts you must activate notifications ("Watch repository" and set up notification options in your GitHub account).</p>

    </div>
</section>