<section id="information" class="two">
    <div class="container">

        <h2>Dates and venue</h2>

        <p class="blockytext">The dates of the workshop are February 16-18, 2022. All sessions will be held in the time slot from 16:00 to 20:00, Madrid time.</p>
 
        <p class="blockytext">The workshop will be fully online. A link for the online sessions will be sent to all registered attendees.</p>

        <h2>Workshop agenda</h2>

        <p class="blockytext">The workshop is structured in 6 topical sessions, chaired by two members of the community and a panel of experts in the field.</p>
 
        <p class="blockytext">In the link below you can download the latest version of the agenda of the workshop.</p>

        <footer>
            <a href="assets/docs/agenda-2021-11-15.pdf" target="_blank" class="button"><span class="icon fa-download inlineicon"></span> &nbsp; Agenda (last updated 2021-11-15) </a>
        </footer>

        <h2>Registration</h2>

        <p class="blockytext">All attendees, chairmen, and panelists shall register for the workshop. Registration is free of charge. Instructions, updates, and links to follow the online sessions will be emailed to the attendees one week before the workshop.</p>
        
        <p class="blockytext">To register, please fill in the following form:</p>

        <footer>
            <a href="https://forms.gle/7kSt9tMzvjAcXGNb7" target="_blank" class="button"><span class="icon fa-edit inlineicon"></span> &nbsp; Registration form </a>
        </footer>

        <h2>Computational benchmark</h2>

        <p class="blockytext">We are glad to announce that a new benchmark effort is being organized, led by Laurent Garrigues (LAPLACE) and Tasman Powis (PPPL). All groups are invited to participate in the benchmark, the results of which will be discussed during the HPC simulation session, on February 17.</p>

        <p class="blockytext">More information and all technical details for the benchmark will be published in the <a href="https://www.landmark-plasma.com/" target="_blank">Landmark website</a>.</p>
        
    </div>
</section>
