<section id="information" class="two">
    <div class="container">

        <h2>Dates and venue</h2>

        <p class="smallmargintext">The dates of the workshop are February 16-18, 2022. All sessions will be held in the time slot from 15:00 to 20:00, Madrid time.</p>
 
        <p class="smallmargintext">The workshop will be fully online through the Zoom platform. Links for the online sessions will be sent to all registered attendees before the event, and are also listed below.</p>

        <h2>Registration</h2>

        <p class="smallmargintext">All attendees, chairmen, and panelists shall register for the workshop. Registration is free of charge. Instructions, updates, and links to follow the online sessions will be emailed to the attendees one week before the workshop. <strong>Registration is now closed</strong>.</p>

        <!-- <footer>
            <a href="https://forms.gle/7kSt9tMzvjAcXGNb7" target="_blank" class="button"><span class="icon fa-edit inlineicon"></span> &nbsp; Registration form </a>
        </footer> -->

        <h2>Workshop agenda</h2>

        <p class="smallmargintext">The workshop is structured in 6 topical sessions, chaired by two members of the community and a panel of experts in the field. The workshop also includes a special "poster" mini-session for young researchers.</p>
 
        <p class="smallmargintext">In the link below you can download the latest version of the agenda of the workshop.</p>

        <footer>
            <a href="assets/docs/agenda.pdf" target="_blank" class="button"><span class="icon fa-download inlineicon"></span> &nbsp; Agenda</a>
        </footer>

        <h2>Young researchers "poster" mini-session</h2>

        <p class="smallmargintext">To give the chance to younger researchers to present their work and network with others, a special session will be held on February 17, 15:00 to 16:00, Madrid time. To mimic the experience of an in-place poster session, each participant will have a dedicated Zoom link, and attendees will be able to visit them and ask questions during the session time.</p>

        <p class="smallmargintext">
        All attendees are invited to access the slides and interact with their authors before the event through the <a href="#discussion" class="scrolly">discussion forum</a>.</p> 

        <h2>Computational benchmark</h2>

        <p class="smallmargintext">We are glad to announce that a new benchmark effort is being organized, led by Laurent Garrigues (LAPLACE) and Tasman Powis (PPPL). All groups will be invited to participate in the benchmark, and the status of this effort will be reported on during Session 3 "High performance simulation of plasma transport and validation", on February 17.</p>
        
    </div>
</section>
