<section id="information" class="two">
    <div class="container">

        <h2>Dates and venue</h2>

        <p class="smallmargintext"><strong>The workshop is now over</strong>. It took place online in February 16-18, 2022. Workshop materials will remain accessible through this website and can be found in the sections below.</p>
 
        <h2>Young researchers "poster" mini-session</h2>

        <p class="smallmargintext">To give the chance to younger researchers to present their work and network with others, a special session was held on February 17, 15:00 to 16:00, Madrid time.</p>
 
        <h2>Computational benchmark</h2>

        <p class="smallmargintext">We are glad to announce that a new benchmark effort is being organized, led by Laurent Garrigues (LAPLACE) and Tasman Powis (PPPL). All groups will be invited to participate in the benchmark. More information will be posted here when available.</p>

        <h2>Acknowledgments</h2>

        <p class="smallmargintext">This workshop has been organized with the support of project ERC-ZARATHUSTRA, under the European Union's Horizon 2020 research and innovation programme (grant agreement No 950466), and with the support of project PROMETEO, funded by the Comunidad de Madrid, under Grant reference Y2018/NMT-4750 PROMETEO-CM.</p>
        
    </div>
</section>
