<section id="posters" class="five">
    <div class="container">

        <header>
            <h2>Posters</h2>
        </header>

        <p>Poster slides will be uploaded to the website as they become available. You are welcome to say hello and discuss the posters before the Workshop begins in our <a href="#discussion" target="_blank">discussion forum</a></p>  

        <ol class="bibtexlist">
            
            <li class="bibtexitem">Davide Maddaloni, <strong>Data-driven analysis of breathing and ion-transit modes in 2D hybrid Hall thruster simulations,</strong> [<a href="assets/docs/posters/Maddaloni.pdf" target="_blank">PDF</a>]</li>
            
            <li class="bibtexitem">Alberto Modesti, <strong>Comparison between 3D Magnetized Plasma Plume Solutions obtained with full FD and hybrid FV-FD schemes,</strong> [<a href="assets/docs/posters/Modesti.pdf" target="_blank">PDF</a>]</li>
            
            <li class="bibtexitem">Baptiste Trotabas, <strong>Controlling perpendicular electric fields with biased electrodes,</strong> [<a href="assets/docs/posters/Trotabas.pdf" target="_blank">PDF</a>]</li>
            
            <li class="bibtexitem">Enrique Bello, <strong>Axial equilibrium model of the Hall discharge and its far plume with electron inertia and other effects,</strong> [<a href="assets/docs/posters/Bello.pdf" target="_blank">PDF</a>]</li>
            
            <li class="bibtexitem">Alberto Marín-Cebrián, <strong>Oblique magnetic field effect on radial plasma dynamics,</strong> [<a href="assets/docs/posters/Marín.pdf" target="_blank">PDF</a>]</li>
            
            <li class="bibtexitem">Jesús Perales, <strong>Hybrid plasma simulations of the HT5k thruster,</strong> [<a href="assets/docs/posters/Perales.pdf" target="_blank">PDF</a>]</li>

        </ol>

    </div>
</section>