<section id="posters" class="five">
    <div class="container">

        <header>
            <h2>Posters</h2>
        </header>

        <p>Poster slides will be uploaded to the website as they become available. You are welcome to say hello and discuss the posters before the Workshop begins in our <a href="#discussion" class="scrolly">discussion forum</a></p>  

        <ol class="bibtexlist">
            
            <li>Davide Maddaloni, <strong>Data-driven analysis of breathing and ion-transit modes in 2D hybrid Hall thruster simulations,</strong> [<a href="assets/docs/posters/Maddaloni.pdf" target="_blank">PDF</a>]</li>
            
            <li>Alberto Modesti, <strong>Comparison between 3D Magnetized Plasma Plume Solutions obtained with full FD and hybrid FV-FD schemes,</strong> [<a href="assets/docs/posters/Modesti.pdf" target="_blank">PDF</a>]</li>
            
            <li>Baptiste Trotabas, <strong>Controlling perpendicular electric fields with biased electrodes,</strong> [<a href="assets/docs/posters/Trotabas.pdf" target="_blank">PDF</a>]</li>
            
            <li>Enrique Bello, <strong>Axial equilibrium model of the Hall discharge and its far plume with electron inertia and other effects,</strong> [<a href="assets/docs/posters/Bello.pdf" target="_blank">PDF</a>]</li>

            <li>Tarek Ben Slimane, <strong>Analysis of small scale fluctuations in Hall effect thrusters using virtual Thomson scattering on PIC simulations,</strong> [<a href="assets/docs/posters/Slimane.pdf" target="_blank">PDF</a>]</li>
            
            <li>Alberto Marín-Cebrián, <strong>Oblique magnetic field effect on radial plasma dynamics,</strong> [<a href="assets/docs/posters/Marín.pdf" target="_blank">PDF</a>]</li>
            
            <li>Jesús Perales, <strong>Hybrid plasma simulations of the HT5k thruster,</strong> [<a href="assets/docs/posters/Perales.pdf" target="_blank">PDF</a>]</li>

            <li>Junhwi Bak, <strong>Significance of physical properties in azimuth dimension in Hall thruster ExB Plasma: toward active control of plasma by artificial azimuthal modulation,</strong> [<a href="assets/docs/posters/Bak.pdf" target="_blank">PDF</a>]</li>

            <li>Pedro Jiménez-Jiménez, <strong>Wave propagation and absorption in a Helicon plasma thruster source, plume and surroundings,</strong> [<a href="assets/docs/posters/Jiménez.pdf" target="_blank">PDF</a>]</li>

            <li>Federico Petronio, <strong>Two-Points Power Spectral Density analysis of instabilities in PIC simulations,</strong> [<a href="assets/docs/posters/Petronio.pdf" target="_blank">PDF</a>]</li>

            <li>Thomas Marks, <strong>Calibrating models of anomalous transport using bi-fidelity surrogates,</strong> [<a href="assets/docs/posters/Marks.pdf" target="_blank">PDF</a>]</li>

            <li>Romain Pioch, <strong>LIF diagnostic in the magnetic nozzle of an ECR thruster,</strong> [<a href="assets/docs/posters/Pioch.pdf" target="_blank">PDF</a>]</li>

            <li>Liang Xu, <strong>Uncovering the driving mechanism of rotating spokes in partially magnetized plasmas,</strong> [<a href="assets/docs/posters/Xu.pdf" target="_blank">PDF</a>]</li>

            <li>Willca Villafana, <strong>3D Particle-In-Cell study of the Electron Drift Instability in a ExB discharge,</strong> [<a href="assets/docs/posters/Villafana.pdf" target="_blank">PDF</a>]</li>

        </ol>

    </div>
</section>