<section id="posters" class="five">
    <div class="container">

        <header>
            <h2>Posters</h2>
        </header>

        <p>Poster slides and Zoom links can be found below. <strong>Please note that each poster has a separate Zoom link, and that all poster presentations are simultaneous from 15:00 to 16:00 Madrid time, February 17</strong>. You are welcome to say hello and discuss the posters before and during the Workshop in our <a href="#discussion" class="scrolly">discussion forum</a>.</p>  

        <ol class="bibtexlist">
            
            <li>Davide Maddaloni, <strong>Data-driven analysis of breathing and ion-transit modes in 2D hybrid Hall thruster simulations,</strong> [<a href="assets/docs/posters/Maddaloni.pdf" target="_blank">PDF</a>]</li>
            
            <li>Alberto Modesti, <strong>Comparison between 3D Magnetized Plasma Plume Solutions obtained with full FD and hybrid FV-FD schemes,</strong> [<a href="assets/docs/posters/Modesti.pdf" target="_blank">PDF</a>] [<a href="https://meet.google.com/hzu-zzoh-ffx" target="_blank">Meets link</a>]</li>
            
            <li>Baptiste Trotabas, <strong>Controlling perpendicular electric fields with biased electrodes,</strong> [<a href="assets/docs/posters/Trotabas.pdf" target="_blank">PDF</a>] [<a href="https://us04web.zoom.us/j/2923718409?pwd=TUVRbHlZNTc5M3JvVk1FWUtGZ2w1QT09" target="_blank">Zoom link</a> (code 1gDb1P)]</li>
            
            <li>Enrique Bello, <strong>Axial equilibrium model of the Hall discharge and its far plume with electron inertia and other effects,</strong> [<a href="assets/docs/posters/Bello.pdf" target="_blank">PDF</a>]</li>

            <li>Tarek Ben Slimane, <strong>Analysis of small scale fluctuations in Hall effect thrusters using virtual Thomson scattering on PIC simulations,</strong> [<a href="assets/docs/posters/Slimane.pdf" target="_blank">PDF</a>] [<a href="https://ecolepolytechnique.zoom.us/j/85497452345?pwd=cisycU1mbVBYbVByVUh2N1J1b3Awdz09" target="_blank">Zoom link</a> (code: 570286)]</li>
            
            <li>Alberto Marín-Cebrián, <strong>Oblique magnetic field effect on radial plasma dynamics,</strong> [<a href="assets/docs/posters/Marín.pdf" target="_blank">PDF</a>]</li>
            
            <li>Jesús Perales, <strong>Hybrid plasma simulations of the HT5k thruster,</strong> [<a href="assets/docs/posters/Perales.pdf" target="_blank">PDF</a>] [<a href="http://meet.google.com/gvo-dzzz-oou" target="_blank">Meets link</a>]</li>

            <li>Junhwi Bak, <strong>Significance of physical properties in azimuth dimension in Hall thruster ExB Plasma: toward active control of plasma by artificial azimuthal modulation,</strong> [<a href="assets/docs/posters/Bak.pdf" target="_blank">PDF</a>] [<a href="https://zoom.us/j/2660396837?pwd=VEptRHVXL0JCRGozUTYvOVkvcGRzQT09" target="_blank">Zoom link</a> (code: 9CDbFM)]</li>

            <li>Pedro Jiménez-Jiménez, <strong>Wave propagation and absorption in a Helicon plasma thruster source, plume and surroundings,</strong> [<a href="assets/docs/posters/Jiménez.pdf" target="_blank">PDF</a>]</li>

            <li>Federico Petronio, <strong>Two-Points Power Spectral Density analysis of instabilities in PIC simulations,</strong> [<a href="assets/docs/posters/Petronio.pdf" target="_blank">PDF</a>]</li>

            <li>Thomas Marks, <strong>Calibrating models of anomalous transport using bi-fidelity surrogates,</strong> [<a href="assets/docs/posters/Marks.pdf" target="_blank">PDF</a>] [<a href="https://umich.zoom.us/j/8725197361" target="_blank">Zoom link</a>]</li>

            <li>Romain Pioch, <strong>LIF diagnostic in the magnetic nozzle of an ECR thruster,</strong> [<a href="assets/docs/posters/Pioch.pdf" target="_blank">PDF</a>]</li>

            <li>Liang Xu, <strong>Uncovering the driving mechanism of rotating spokes in partially magnetized plasmas,</strong> [<a href="assets/docs/posters/Xu.pdf" target="_blank">PDF</a>] [<a href="https://ruhr-uni-bochum.zoom.us/j/66193156731?pwd=WEJqQ0tmdGVWS20xYVFZVmZEY2J0UT09" target="_blank">Zoom link</a> (code: 649113)]</li>

            <li>Willca Villafana, <strong>3D Particle-In-Cell study of the Electron Drift Instability in a ExB discharge,</strong> [<a href="assets/docs/posters/Villafana.pdf" target="_blank">PDF</a>]</li>
            
            <li>Denis Zolotukhin, <strong>A milli-Newton-level two-stage µCAT-MPD thruster,</strong> [<a href="assets/docs/posters/Zolotukhin.pdf" target="_blank">PDF</a>] [<a href="https://us05web.zoom.us/j/86528683824?pwd=aXF6NGU3MlgxTFBaR3QzZlJSbFRIdz09" target="_blank">Zoom link</a> (code: BQ8DvZ)]</li>
            
            <li>Thibault Dubois, <strong>Electron cyclotron drift instability: influence of electron properties in CTS measurement,</strong> [<a href="assets/docs/posters/Dubois.pdf" target="_blank">PDF</a>] [<a href="https://cnrs.zoom.us/j/92532392893?pwd=Qmc4VEE0WktpaXhJck81NmNzek5uQT09" target="_blank">Zoom link</a>]</li>
            
            <li>Assan Abdirakhmanov, <strong>Dust particle in DC glow discharge in ExB field,</strong> [<a href="assets/docs/posters/Abdirakhmanov.pdf" target="_blank">PDF</a>] [<a href="https://us02web.zoom.us/j/83594335309?pwd=NEFOTUpwQytZRTdjNGkrVnM4V2ZrUT09" target="_blank">Zoom link</a> (code: 823692)]</li>

        </ol>

    </div>
</section>