<section id="sessions" class="four">
    <div class="container">

        <header>
            <h2>Topical sessions</h2>
        </header>
        
        <p>Below you can find the session program and all relevant links. Attendees are invited to check them before the workshop and ask any questions/comments through the <a href="#discussion" class="scrolly">discussion forum</a>.</p>  

        <!-- ---------------------------------------------------------------------- -->

        <h3 style="text-align: left">Workshop opening and welcome</h3>
        
        <p style="text-align: left; margin-bottom: 0.5em">February 16, 2022, 15:30 - 16:00 Madrid time. [<a href="https://zoom.us/j/4223590343?pwd=eFg2VTd6ejFvZXUxWUV3KzUxTGh3Zz09" target="_blank">Zoom link</a> (code: 123456)]</p> 

        <!-- ---------------------------------------------------------------------- -->

        <h3 style="text-align: left">Session 1: High-frequency, small scale oscillations and turbulence</h3>
        
        <p style="text-align: left; margin-bottom: 0.5em">February 16, 2022, 16:00 - 17:45 Madrid time. [<a href="https://zoom.us/j/4223590343?pwd=eFg2VTd6ejFvZXUxWUV3KzUxTGh3Zz09" target="_blank">Zoom link</a> (code: 123456)]</p>
        <p style="text-align: left; margin-bottom: 0.5em">Chaired by Sedina Tsikata and Benjamin Jorns.</p>


        <ul class="squares">
            
            <li>A. Smolyakov, <strong>Nonlinear regimes of the electron cyclotron drift instability in Vlasov simulations</strong></li>
            <li>L. Wang, <strong>Electron cyclotron drift instability and anomalous transport: two-fluid moment theory and modeling</strong></li>	
            <li>Y. Mikellides, <strong>Growth of the modified two-stream and lower hybrid drift instabilities in the near-pole plume of a magnetically Shielded Hall thruster</strong></li>	
            <li>E. Bello-Benitez, <strong>Axial-azimuthal, high-frequency modes from global linear-stability model of a Hall thruster</strong></li>
            <li>K. Hara, <strong>Cross-field electron diffusion due to the coupling of drift-driven microinstabilities</strong></li>
                       
        </ul>
   
        <!-- ---------------------------------------------------------------------- -->

        <h3 style="text-align: left">Session 2: Low-frequency oscillations and structures</h3>

        <p style="text-align: left; margin-bottom: 0.5em">February 16, 2022, 18:15 - 20:00 Madrid time. [<a href="https://zoom.us/j/4223590343?pwd=eFg2VTd6ejFvZXUxWUV3KzUxTGh3Zz09" target="_blank">Zoom link</a> (code: 123456)]</p>
        <p style="text-align: left; margin-bottom: 0.5em">Chaired by Yevgeny Raitses and Igor Kaganovich.</p>
         
        <ul class="squares">
            
            <li>J.P. Boeuf, <strong>Rotating spokes in ExB plasma of planar magnetron</strong></li>
            <li>L. Xu, <strong>On the driving mechanism behind the formation of a rotating spoke</strong></li>	
            <li>M. Panjan, <strong>Spokes in RF and DC magnetron discharges</strong></li>	
            <li>I. Romadanov, <strong>Control of Coherent Structures via External Drive of the Breathing Mode</strong></li>
            <li>D. Smith, <strong>Constricted orbiting mode in high current, magnetized rare-gas plasma</strong></li>

            <li><emph>Discussions</emph>:</li>

            <ul class="squares">
                <li>J. Bak, <strong>Need and feasibility of controlling plasma structures</strong></li>
                <li>J. Szabo, <strong>Methods of prototyping new thrusters and whole device modeling, rationale for 3-D modeling</strong></li>
                <li>I. Kaganovich, Y. Raitses, <strong>Year since the last workshop and next perspectives</strong></li>
            </ul>
                       
        </ul>

        <!-- ---------------------------------------------------------------------- -->

        <h3 style="text-align: left">Young researchers "poster" mini-session</h3>
        
        <p style="text-align: left; margin-bottom: 0.5em">February 17, 2022, 15:00 - 16:00 Madrid time.</p>
        <p style="text-align: left; margin-bottom: 0.5em"><emph>Please refer to the list in <a href="#posters" class="scrolly">the posters section</a></emph> for the Zoom link of each poster.</p>

        <!-- ---------------------------------------------------------------------- -->

        <h3 style="text-align: left">Session 3: High performance simulation of plasma transport and validation</h3>

        <p style="text-align: left; margin-bottom: 0.5em">February 17, 2022, 16:00 - 17:45 Madrid time. [<a href="assets/docs/sessions/session3.pdf" target="_blank">Slides</a>] [<a href="https://zoom.us/j (code: 123456)/4223590343?pwd=eFg2VTd6ejFvZXUxWUV3KzUxTGh3Zz09" target="_blank">Zoom link</a>]</p>
        <p style="text-align: left; margin-bottom: 0.5em">Chaired by Laurent Garrigues and Francesco Taccogna.</p>
        <p style="text-align: left; margin-bottom: 0.5em">The session includes the discussion of the validation of PIC simulations and benchmarks.</p>

        <ul class="squares">
            
            <li>D. Eremin, <strong>GPU-based simulation</strong></li>
            <li>P. Minelli, <strong>Hybrid MPI-OpenMP simulation</strong></li>	
            <li>L. Garrigues, <strong>Sparse PIC approach</strong></li>	
            <li>A. Knoll, <strong>Dimensional reduction method</strong></li>
            <li>T. Powis, <strong>PIC Penning Discharge Benchmark</strong></li>
                       
        </ul>
 
        <!-- ---------------------------------------------------------------------- -->

        <h3 style="text-align: left">Session 4: Theory, Reduced Modeling and EP needs</h3>
        
        <p style="text-align: left; margin-bottom: 0.5em">February 17, 2022, 18:15 - 20:00 Madrid time. [<a href="assets/docs/sessions/session4.pdf" target="_blank">Slides</a>] [<a href="https://zoom.us/j (code: 123456)/4223590343?pwd=eFg2VTd6ejFvZXUxWUV3KzUxTGh3Zz09" target="_blank">Zoom link</a>]</p>
        
        <p style="text-align: left; margin-bottom: 0.5em">Chaired by Anne Bourdon and Andrei Smolyakov</p>

        <ul class="squares">
            
            <li>A. Bourdon, <strong>Physics learned from axial-azimuthal and radial-azimuthal PIC benchmarks</strong></li>
            <li>A. Smolyakov, <strong>Mechanisms of the breathing mode: fluid,   hybrid,  and reduced  models; fluid-hybrid benchmark (LANDMARK)</strong></li>	
            <li>E. Ahedo, <strong>On magnetized electron fluid models for thruster discharges</strong></li>	
            <li>T. Lafleur, <strong>The origin of the breathing mode in Hall thrusters and its stabilization</strong></li>
            <li>B. Jorns, <strong>Experimental characterization of Hall thruster breathing mode dynamics</strong></li>
            <li>T. Andreussi, <strong>Numerical and Experimental Investigation of Longitudinal Oscillations in Hall Thrusters</strong></li>
            
        </ul>
 
        <!-- ---------------------------------------------------------------------- -->

        <h3 style="text-align: left">Session 5: Plasma-wall interaction</h3>

        <p style="text-align: left; margin-bottom: 0.5em">February 18, 2022, 16:00 - 17:45 Madrid time. [<a href="assets/docs/sessions/session5.pdf" target="_blank">Slides</a>] [<a href="https://zoom.us/j (code: 123456)/4223590343?pwd=eFg2VTd6ejFvZXUxWUV3KzUxTGh3Zz09" target="_blank">Zoom link</a>]</p> 
        <p style="text-align: left; margin-bottom: 0.5em">Chaired by Michael Keidar and Eduardo Ahedo</p>

        <ul class="squares">
            
            <li>D. Eremin, <strong>SEE modeling</strong></li>
            <li>F. Cichocki, <strong>Interaction of heavy species with walls</strong></li>	
            <li>Y. Raitses, <strong>Active boundaries for ExB plasmas</strong></li>	
            <li>A. Marín, <strong>Kinetic modeling of electron-wall interaction</strong></li>
            <li>M. Keidar, <strong>Periodic structures in a magnetic field</strong></li>
            <li>J. Polk, <strong>Pole erosion characterization</strong></li>
            <li>I. Mikellides, <strong>Erosion and ion heating in MS-HETs</strong></li>
            <li>J. Perales, <strong>Plasma-wall simulations in MS-HETs</strong></li>
            <li>T. Andreussi, <strong>MS-HET scaling laws; Kr vs Xe</strong></li>
            <li>F. Taccogna, <strong>Molecular propellant</strong></li>
            <li>D. Rafalskyi, <strong>Plasma-wall simulations in MS-HETs </strong></li>
            
        </ul>

        <!-- ---------------------------------------------------------------------- -->

        <h3 style="text-align: left">Session 6: Magnetic nozzles and plasma plumes</h3>

        <p style="text-align: left; margin-bottom: 0.5em">February 18, 2022, 18:15 - 19:45 Madrid time. [<a href="assets/docs/sessions/session6.pdf" target="_blank">Slides</a>] [<a href="assets/docs/sessions/session6-references.pdf" target="_blank">References</a>] [<a href="https://zoom.us/j/4223590343?pwd=eFg2VTd6ejFvZXUxWUV3KzUxTGh3Zz09" target="_blank">Zoom link</a> (code: 123456)]</p>
        
        <p style="text-align: left; margin-bottom: 0.5em">Chaired by Justin Little and Mario Merino.</p>

        <ul class="squares">
            
            <li>J. Zhou, <strong>Trapped electrons, cooling, anisotropy, heat fluxes</strong></li> 
            <li>A. Vinci, <strong>Experimental results on electron cooling</strong></li> 
            <li>J. Young Kim, <strong>Experimental measurement of trapped electrons</strong></li> 
            <li>A. Smolyakov, <strong>Ion kinetic effects and instabilities in the MN</strong></li> 
            <li>B. Jorns, <strong>Facility effects</strong></li> 
            <li>B. Jorns, <strong>Oscillations and instabilities in the MN</strong></li> 
            <li>K. Takahashi, <strong>Advances in performance of associated EP thrusters</strong></li> 
            <li>J. Little, <strong>Electron detachment</strong></li> 
            <li>F. Cichocki, <strong>3D plume modeling in the geomagnetic field</strong></li> 
            <li>M. Merino, <strong>Numerical boundary conditions for fluid/hybrid/kinetic codes</strong></li> 
            <li>M. Merino, <strong>Advanced magnetic configurations</strong></li> 
            
        </ul>
        

        <!-- ---------------------------------------------------------------------- -->

        
        <h3 style="text-align: left">Workshop closure and wrap-up</h3>
        
        <p style="text-align: left; margin-bottom: 0.5em">February 18, 2022, 19:45 - 20:00 Madrid time. [<a href="https://zoom.us/j/4223590343?pwd=eFg2VTd6ejFvZXUxWUV3KzUxTGh3Zz09" target="_blank">Zoom link</a> (code: 123456)]</p>

    </div>
</section>