<section id="sessions" class="four">
    <div class="container">

        <header>
            <h2>Topical sessions</h2>
        </header>
        
        <p>Presentations and other documents from the workshop will be available here as soon as they are available. Attendees are invited to check them before the workshop and ask any questions/comments through the <a href="#discussion" target="_blank">discussion forum</a>.</p>  

        <h3>Session 1: High-frequency, small scale oscillations and turbulence</h3>
        
        <p>Chaired by Sedina Tsikata and Ben Jorns. Slides will be uploaded soon.</p>

        <h3>Session 2: Low-frequency oscillations and structures</h3>

        <p>Chaired by Yevgeny Raitses and Igor Kaganovich. Slides will be uploaded soon.</p>

        <h3>Session 3: High performance simulation of plasma transport and validation</h3>

        <p>Chaired by Laurent Garrigues and Francesco Taccogna. Slides will be uploaded soon.</p>

        <h3>Session 4: Theory, Reduced Modeling and EP needs</h3>

        <p>Chaired by Anne Bourdon and Andrei Smolyakov. Slides will be uploaded soon.</p>
        
        <ul class="squares">
            
            <li>Anne Bourdon, <strong>Physics learned from axial-azimuthal and radial-azimuthal PIC benchmarks</strong></li>
            <li></li>Andrei Smolyakov, <strong>Mechanisms of the breathing mode: fluid,   hybrid,  and reduced  models; fluid-hybrid benchmark (LANDMARK)</strong></li>	
            <li></li>Eduardo Ahedo, <strong>On magnetized electron fluid models for thruster discharges</strong></li>	
            <li></li>Trevor Lafleur, <strong>The origin of the breathing mode in Hall thrusters and its stabilization</strong></li>
            <li></li>Ben Jorns, <strong>Experimental characterization of Hall thruster breathing mode dynamics</strong></li>
            <li></li>Tommaso Andreussi, <strong>Numerical and Experimental Investigation of Longitudinal Oscillations in Hall Thrusters</strong></li>

        </ul>

        <h3>Session 5: Plasma-wall interaction</h3>

        <p>Chaired by Michael Keidar and Eduardo Ahedo. Slides will be uploaded soon.</p>

        <h3>Session 6: Magnetic nozzles and plasma plumes</h3>

        <p>Chaired by Justin Little and Mario Merino [<a href="assets/docs/sessions/session6.pdf" target="_blank">Slides</a>] [<a href="assets/docs/posters/sessions/session6-references.pdf" target="_blank">References</a>] [<a href="" target="_blank">Zoom link</a>]</p>

        <ul class="squares">
            
            <li>Jiewei Zhou, <strong>Trapped electrons, cooling, anisotropy, heat fluxes</strong></li> 
            <li>Alfio Vinci, <strong>Experimental results on electron cooling</strong></li> 
            <li>June Young Kim, <strong>Experimental measurement of trapped electrons</strong></li> 
            <li>Andrei Smolyakov, <strong>Ion kinetic effects and instabilities in the MN</strong></li> 
            <li>Ben Jorns, <strong>Facility effects</strong></li> 
            <li>Ben Jorns, <strong>Oscillations and instabilities in the MN</strong></li> 
            <li>Kazunori Takahashi, <strong>Advances in performance of associated EP thrusters</strong></li> 
            <li>Justin Little, <strong>Electron detachment</strong></li> 
            <li>Filippo Cichocki, <strong>3D plume modeling in the geomagnetic field</strong></li> 
            <li>Mario Merino, <strong>Numerical boundary conditions for fluid/hybrid/kinetic codes</strong></li> 
            <li>Mario Merino, <strong>Advanced magnetic configurations</strong></li> 

        </ul>

    </div>
</section>