<section id="sessions" class="four">
    <div class="container">

        <header>
            <h2>Topical sessions</h2>
        </header>
        
        <p>Presentations and other documents from the workshop will be available here as soon as they are available. Attendees are invited to check them before the workshop and ask any questions/comments through the <a href="#discussion" class="scrolly">discussion forum</a>.</p>  


        <!-- ---------------------------------------------------------------------- -->

        <h3 style="text-align: left">Workshop opening and welcome</h3>
        
        <p style="text-align: left; margin-bottom: 0.5em">February 16, 2022, 15:30 - 16:00 Madrid time.</p>
        <p style="text-align: left; margin-bottom: 0.5em">[<a href="" target="_blank">Zoom link</a>]</p>

        <!-- ---------------------------------------------------------------------- -->

        <h3 style="text-align: left">Session 1: High-frequency, small scale oscillations and turbulence</h3>
        
        <p style="text-align: left; margin-bottom: 0.5em">February 16, 2022, 16:00 - 17:45 Madrid time.</p>
        <p style="text-align: left; margin-bottom: 0.5em">Chaired by Sedina Tsikata and Ben Jorns</p>



        <!-- ---------------------------------------------------------------------- -->

        <h3 style="text-align: left">Session 2: Low-frequency oscillations and structures</h3>

        <p style="text-align: left; margin-bottom: 0.5em">February 16, 2022, 18:15 - 20:00 Madrid time.</p>
        <p style="text-align: left; margin-bottom: 0.5em">Chaired by Yevgeny Raitses and Igor Kaganovich</p>


        <!-- ---------------------------------------------------------------------- -->

        <h3 style="text-align: left">Young researchers "poster" mini-session</h3>
        
        <p style="text-align: left; margin-bottom: 0.5em">February 17, 2022, 15:00 - 16:00 Madrid time.</p>
        <p style="text-align: left; margin-bottom: 0.5em"><emph>Please refer to the list in <a href="#posters" class="scrolly">the posters page</a></emph> for the Zoom link of each poster.</p>

        <!-- ---------------------------------------------------------------------- -->

        <h3 style="text-align: left">Session 3: High performance simulation of plasma transport and validation</h3>

        <p style="text-align: left; margin-bottom: 0.5em">February 17, 2022, 16:00 - 17:45 Madrid time.</p>
        <p style="text-align: left; margin-bottom: 0.5em">Chaired by Laurent Garrigues and Francesco Taccogna</p>

        <!-- ---------------------------------------------------------------------- -->

        <h3 style="text-align: left">Session 4: Theory, Reduced Modeling and EP needs</h3>
        
        <p style="text-align: left; margin-bottom: 0.5em">February 17, 2022, 18:15 - 20:00 Madrid time.</p>
        
        <p style="text-align: left; margin-bottom: 0.5em">Chaired by Anne Bourdon and Andrei Smolyakov</p>

        <ul class="squares">
            
            <li>A. Bourdon, <strong>Physics learned from axial-azimuthal and radial-azimuthal PIC benchmarks</strong></li>
            <li></li>A. Smolyakov, <strong>Mechanisms of the breathing mode: fluid,   hybrid,  and reduced  models; fluid-hybrid benchmark (LANDMARK)</strong></li>	
            <li></li>E. Ahedo, <strong>On magnetized electron fluid models for thruster discharges</strong></li>	
            <li></li>T. Lafleur, <strong>The origin of the breathing mode in Hall thrusters and its stabilization</strong></li>
            <li></li>B. Jorns, <strong>Experimental characterization of Hall thruster breathing mode dynamics</strong></li>
            <li></li>T. Andreussi, <strong>Numerical and Experimental Investigation of Longitudinal Oscillations in Hall Thrusters</strong></li>
            
        </ul>
 
        <!-- ---------------------------------------------------------------------- -->

        <h3 style="text-align: left">Session 5: Plasma-wall interaction</h3>

        <p style="text-align: left; margin-bottom: 0.5em">February 18, 2022, 16:00 - 17:45 Madrid time.[<a href="assets/docs/sessions/session5.pdf" target="_blank">Slides</a>] <!-- [<a href="assets/docs/sessions/session5-references.pdf" target="_blank">References</a>] --> [<a href="" target="_blank">Zoom link</a>]</p> 
        <p style="text-align: left; margin-bottom: 0.5em">Chaired by Michael Keidar and Eduardo Ahedo</p>

        <ul class="squares">
            
            <li>D. Eremin, F. Taccogna, <strong>SEE modeling</strong></li>
            <li></li>F. Cichocki, <strong>Interaction of heavy species with walls</strong></li>	
            <li></li>Y. Raitses, <strong>Active boundaries for ExB plasmas</strong></li>	
            <li></li>A. Marín, <strong>Kinetic modeling of electron-wall interaction</strong></li>
            <li></li>M. Keidar, <strong>Periodic structures in a magnetic field</strong></li>
            <li></li>J. Polk, <strong>Pole erosion characterization</strong></li>
            <li></li>I. Mikellides, <strong>Erosion and ion heating in MS-HETs</strong></li>
            <li></li>J. Perales, <strong>Plasma-wall simulations in MS-HETs</strong></li>
            <li></li>T. Andreussi, <strong>MS-HET scaling laws</strong></li>
            <li></li>F. Taccogna, <strong>Kr vs Xe; Molecular propellant</strong></li>
            <li></li>D. Rafalskyi, <strong>Plasma-wall simulations in MS-HETs </strong></li>
            
        </ul>

        <!-- ---------------------------------------------------------------------- -->

        <h3 style="text-align: left">Session 6: Magnetic nozzles and plasma plumes</h3>

        <p style="text-align: left; margin-bottom: 0.5em">February 18, 2022, 18:15 - 19:45 Madrid time. [<a href="assets/docs/sessions/session6.pdf" target="_blank">Slides</a>] [<a href="assets/docs/sessions/session6-references.pdf" target="_blank">References</a>] [<a href="" target="_blank">Zoom link</a>]</p>
        
        <p style="text-align: left; margin-bottom: 0.5em">Chaired by Justin Little and Mario Merino.</p>

        <ul class="squares">
            
            <li>J. Zhou, <strong>Trapped electrons, cooling, anisotropy, heat fluxes</strong></li> 
            <li>A. Vinci, <strong>Experimental results on electron cooling</strong></li> 
            <li>J. Young Kim, <strong>Experimental measurement of trapped electrons</strong></li> 
            <li>A. Smolyakov, <strong>Ion kinetic effects and instabilities in the MN</strong></li> 
            <li>B. Jorns, <strong>Facility effects</strong></li> 
            <li>B. Jorns, <strong>Oscillations and instabilities in the MN</strong></li> 
            <li>K. Takahashi, <strong>Advances in performance of associated EP thrusters</strong></li> 
            <li>J. Little, <strong>Electron detachment</strong></li> 
            <li>F. Cichocki, <strong>3D plume modeling in the geomagnetic field</strong></li> 
            <li>M. Merino, <strong>Numerical boundary conditions for fluid/hybrid/kinetic codes</strong></li> 
            <li>M. Merino, <strong>Advanced magnetic configurations</strong></li> 
            
        </ul>
        

        <!-- ---------------------------------------------------------------------- -->

        
        <h3 style="text-align: left">Workshop closure and wrap-up</h3>
        
        <p style="text-align: left; margin-bottom: 0.5em">February 18, 2022, 19:45 - 20:00 Madrid time.</p>
        <p style="text-align: left; margin-bottom: 0.5em">[<a href="" target="_blank">Zoom link</a>]</p>

    </div>
</section>