<section id="top" class="one dark cover">
    <div class="container"> 
        <!-- Welcome text -->
        <header>
            <br />
            <br />
            <h2 class="alt">The Plasma & Space Propulsion Team (EP2)</h2>           
            
			<p> We are a research group dedicated to the modeling, simulation, design, development, and testing 
			of space plasma thrusters and related subjects. EP2 is part of the 
			<a href="https://aero.uc3m.es/" target="_blank">Bioengineering and Aerospace Engineering Department</a> at 
			<a href="https://www.uc3m.es/" target="_blank">Universidad Carlos III de Madrid</a>.
            </p>

        </header>   
    </div>
</section>
