<section id="top" class="one dark cover">
    <div class="container"> 
        <!-- Welcome text -->
        <header>
            <br />
            <br />
            <h2 class="alt">ExB Plasmas Workshop 2022</h2>           
            
			<p> The International ExB Plasmas Workshop brings together researchers and experts from the plasma physics community to discuss the latest developments in plasma physics, plasma turbulence, and plasma anomalous transport.            
            The workshop will take place in February 16-18, 2022, and will be fully online and free for all attendees.
            </p>

            <p>
            The organizers of this edition of the workshop are the <br /> <a href="http://ep2.uc3m.es" target="_blank">Equipo de Propulsión Espacial y Plasmas (EP2)</a> research team at 
			<a href="https://www.uc3m.es" target="_blank">Universidad Carlos III de Madrid</a>.
            </p>

            <br />

            <ul class="icons">
                <li><a href="http://ep2.uc3m.es" target="_blank" class="icon fa-globe"></a></li>
                <li><a href="https://www.linkedin.com/company/ep2lab" target="_blank" class="icon fa-linkedin"></a></li>
                <li><a href="https://twitter.com/ep2lab" target="_blank" class="icon fa-twitter"></a></li>
                <li><a href="https://github.com/ep2lab" target="_blank" class="icon fa-github"></a></li>
            </ul>

        </header>   
    </div>
</section>
